@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Backgrounds */
  --bg-prime: #fff;
  --bg-second: #f3f4f6;
  --bg-third: #f5f7fb;

  /* Text */
  --text-prime: #000;
  --text-second: #4b5563ba;
  --text-main: #2563eb;

  /* Buttons */
  --btn-prime: #2563eb;
  --btn-second: #e0f2fe;

  --box-shadow-prime: rgba(0, 0, 0, 0.1);

  --fs-title: 20px;
  --fs-nav: 18px;
  --fs-text: 16px;
  --fs-btn: 15px;
}

.dark-mode {
  /* Backgrounds */
  --bg-prime: #1e293b;
  --bg-second: #0f172a;
  --bg-third: #334155;

  /* Text */
  --text-prime: #f9fafb;
  --text-second: #9ca3af;
  --text-main: #3b82f6;

  /* Buttons */
  --btn-prime: #3b82f6;
  --btn-second: #374151;

  --box-shadow-prime: rgba(255, 255, 255, 0.1);
}
body {
  font-family: "Noto Serif Khmer", sans-serif;
}
.ff {
  font-family: Poppins;
}
/* Background utilities */
.bg-prime {
  background-color: var(--bg-prime) !important;
}
.bg-second {
  background-color: var(--bg-second) !important;
}
.bg-third {
  background-color: var(--bg-third) !important;
}
.bg-nav {
  background-color: #58a8e6;
}

/* Text utilities */
.text-prime {
  color: var(--text-prime) !important;
}
.text-second {
  color: var(--text-second) !important;
}
.text-main {
  color: var(--text-main) !important;
}

/* Button utilities */
.btn-prime {
  background-color: var(--btn-prime) !important;
}
.btn-second {
  background-color: var(--btn-second) !important;
}

.fs-title {
  font-size: var(--fs-title) !important;
}
.fs-nav {
  font-size: var(--fs-nav) !important;
}
.fs-text {
  font-size: var(--fs-text) !important;
}
.fs-btn {
  font-size: var(--fs-btn) !important;
}
.fs-6 {
  font-size: 14px !important;
}
.fs-7 {
  font-size: 12px !important;
}
.fs-8 {
  font-size: 10px !important;
}
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
.border-bottom {
  border-bottom: 1px solid rgba(128, 128, 128, 0.418) !important;
}

.btn-gold,
.bg-gold {
  background: linear-gradient(to bottom, #f7d78c, #f4c965);
  border: 1px solid #d8b75c;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn-gold:hover {
  background: linear-gradient(to bottom, #f6cf78, #e9b94a);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  color: black;
}

.text-gold {
  background: linear-gradient(to bottom, #f7d78c, #f4c965);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-green {
  color: #2ecc71 !important;
}

.navbar {
  z-index: 1000;
}
.dropdown {
  top: 101%;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 90;
  position: relative;
}
.sport:hover .dropdown {
  height: 320px;
}
.blog:hover .dropdown {
  height: 80px;
}
.other:hover .dropdown {
  height: 160px;
}
.noti:hover .dropdown {
  height: 325px;
}
.profile:hover .dropdown {
  height: 152px;
}
.admin:hover .dropdown{
  height: 150px;
}
.nav-item {
  cursor: pointer;
}
.dropdown-menu {
  display: block !important;
  transform: translateY(-100px);
  transition: transform 0.5s ease;
}

.nav-item .icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav-item:hover .icon {
  transform: rotate(180deg);
}

.nav-item:hover .dropdown-menu {
  transform: translateY(0px);
}
.nav-item:not(:hover) .dropdown-menu {
  display: none;
}
.nav-link {
  color: var(--text-prime) !important;
  font-size: var(--fs-nav) !important;
}
.dropdown-item {
  color: var(--text-prime) !important;
}
.dropdown-item:hover {
  color: var(--text-main) !important;
  background-color: var(--btn-second) !important;
}

.no-transition .theme-icon {
  transition: none !important;
}

/* button base */
.main-btn {
  position: relative;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

/* both icons stacked */
.theme-icon {
  position: absolute;
  left: -15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* default: show sun */
.theme-icon.bi-sun {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}
.theme-icon.bi-moon {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}

.dark-mode .theme-icon.bi-sun {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-180deg);
}
.dark-mode .theme-icon.bi-moon {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}

.form-control {
  padding: 8px 0;
  border: 2px solid #e9b94aa6;
  background-color: var(--bg-prime);
  outline: none;
  border-radius: 6px;
  transition: box-shadow 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 9px rgba(233, 185, 74, 0.9);
  outline: none;
  border: 2px solid #e9b94aa6;
}
.form-control::placeholder {
  color: var(--text-second) !important;
}
.icon-input {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(15%);
  font-size: 18px;
}
.form-label {
  color: var(--text-prime) !important;
}
.form-check-input {
  width: 1.2em;
  height: 1.2em;
  background-color: transparent;
  border: 2px solid #e9b94aa6;
}
.otp-input {
  width: 50px;
  height: 55px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #e9b94a;
  border-radius: 8px;
}

.otp-input:focus {
  border-color: #f6cf78;
  box-shadow: 0 0 5px rgba(246, 207, 120, 0.6);
  outline: none;
}
.shadow-xs {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.offcanvas.offcanvas-start {
  width: 300px; /* change this value */
}

.nav .nav-link {
  transition: 0.4s ease;
  /* border-left: 5px solid transparent; */
  border-radius: 0;
}

.nav .nav-link.active,
.nav .nav-link:hover {
  color: var(--btn-prime) !important;
  background-color: var(--btn-second) !important;
}

.nav .nav-link.link-hover.active,
.nav .nav-link.link-hover:hover {
  color: var(--btn-prime) !important;
  background-color: var(--btn-second) !important;
  border-left: 0 !important;
  border-radius: 2px;
}

.article-hover .card-title {
  transition: 0.2s ease;
}
.article-hover:hover .card-title {
  color: var(--text-main) !important;
}

.scale-hover {
  transition: 0.5s ease-in-out;
}
.article-hover:hover .scale-hover {
  transform: scale(1.1);
}

/* Product Detail */
.myDetail .swiper-slide {
  cursor: pointer;
}

.myDetail .swiper-slide-thumb-active {
  border: 2px solid var(--text-second);
}

.myDetail {
  height: 400px;
}

.myDetail .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.myDetail2 {
  height: 600px;
}

.myDetail2 .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
  font-weight: bolder;
  color: var(--text-prime);
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button.collapsed {
  background-color: var(--bg-prime) !important;
  color: var(--text-prime) !important;
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(to bottom, #f7d78c, #f4c965) !important;
}

.accordion-button::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: var(--accordion-icon) !important;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
}

.bg-mask {
  mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);
}

.marquee-container {
  width: 100%;
  display: flex;
}

.marquee-inner {
  display: flex;
  width: max-content;
  will-change: transform;
  /* animation: marquee 50s linear infinite; */
}

.marquee-inner img {
  width: 120px;
  height: 80px;
  margin: 0 2rem;
  flex-shrink: 0;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.card-icon,
.overlay,
.detail {
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  will-change: transform, opacity;
  opacity: 0;
}
.card-icon {
  transform: translateX(200%);
  z-index: 2;
}
.overlay {
  transform: translateY(-150%);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  z-index: 1;
}
.card-btn {
  transform: translateY(150%);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  z-index: 2;
}
.detail {
  transform: translateX(-150%);
  transition: transform 0.7s ease, opacity 0.7s ease;
  z-index: 2;
}

.img-hover:hover .card-icon,
.img-hover:hover .detail {
  transform: translateX(0);
  opacity: 1;
}
.img-hover:hover .overlay,
.img-hover:hover .card-btn {
  transform: translateY(0);
  opacity: 1;
}

.tran-y {
  transform: translateY(-50%);
}
.hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px var(--box-shadow-prime);
}

.pricing-card {
  border-radius: 24px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  height: 100% !important;
  
}

.pricing-card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 25px 50px -12px var(--box-shadow-prime);
  border-color: var(--text-main);
}

.popular-card {
  border-color: var(--text-main);
  box-shadow: 0 20px 40px -12px rgba(79, 70, 229, 0.3);
}

.border-blue {
  border: 2px solid #58a8e6 !important;
}

.button-icon {
  border: none !important;       
  outline: none !important;      
  box-shadow: none !important;   
  padding: 0 !important;         
  background: transparent !important; 
}

.button-icon:focus, .button-icon:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;        
}


#topbar {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.3s ease;
  max-height: 80px;
  opacity: 1;
}

#topbar.hide {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.img-main {
  transition: 0.5s ease;
}

.img-cover {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.card-img:hover .img-main {
  opacity: 0;
}

.card-img:hover .img-cover {
  opacity: 1;
}

.page-item{
  border: 1px solid #58a8e6 !important;
}

.page-link{
  background-color: var(--bg-prime);
  border: none;
}

.messenger:focus {
  box-shadow: none !important;
  outline: none !important;
}